*{
  box-sizing: border-box;
}

p{
  margin: 0;
  padding: 0;
}
 nav{
   display: flex;
   width: 100%;
   height: 60px;
   align-items: center;
   justify-content: flex-end;
   background-color: rgb(26, 26, 174);
 }
 nav a{
   text-decoration: none;
   color: whitesmoke;
   margin-right: 3rem;
 }

 .pokemon-list-container{
   width: 90%;
   margin: auto;   
 }

 .pokemon-list-container .pokemon-element{
   margin: 10px 0;
   display: flex;
   width: 100%;
   justify-content: space-between;
   border: 1px solid rgb(109, 109, 253);
   border-radius: 7px;
   padding: 10px;
 }
 .pokemon-list-container .pokemon-element a {
   color: black;
   text-decoration: none;
 }

 .poke-wrapper{
   width: 90%;
   margin: auto;
   margin-top: 3rem;
   margin-bottom: 4rem;
 }
 .pokemon-detail-container{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
 }
 .pokemon-detail-container .pokemon-item{
   width: 30%;
   border: 0.2rem solid black;
   border-radius: 1rem;
   padding: 0.5rem 0.75rem;
 }
 .skill-container{
   display: flex;
   width: 100%;
   padding: 1rem;
   border: 0.2rem solid rgb(16, 3, 67) !important;
   flex-wrap: wrap;
   justify-content: center;
   margin: 1rem auto;
 }
 .pokemon-item div{
   max-width: 100%;
 }
 .image-container{
   margin: auto;
   width: 80%;
   height: 10rem;
 }
 .pokemon-item img{
   display: block;
   margin: auto;  
    height: 150px; 
    width: 150px; 
    max-height: 100%; 
    max-width: 100%; 
    object-fit: contain;
 }

 .search-wrapper{
   display: flex;
   width: 100%;
   justify-content: center;
   align-items: center;
   margin: 2rem 0;
 }
 .pokemon-list-pagination{
   display: flex;
   width: 40%;
   margin: 2rem auto;
   list-style: none;
   padding: 0;
   justify-content: space-between;
 }
 .pokemon-list-pagination .selected{
   background-color: rgb(170, 170, 240);
   font-weight: bolder;
   padding: 0 0.5rem;
 }
 .pokemon-list-pagination li:hover{
   cursor: pointer;
   background-color: rgb(232, 230, 255);
 }